<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>11:50</td>  <td>Zoom Intro</td> </tr>
      <tr> <td>11:50</td>  <td>Relational Database Model</td> </tr>
      <tr> <td>09:00</td>  <td><a href= "01-sort/">Selecting Data<a></td> </tr>
      <tr> <td>09:15</td>  <td><a href= "02-sort-dup/">Sorting and Removing Duplicates</a></td> </tr>
      <tr> <td>09:35</td>  <td><a href= "03-filter/">Filtering</a></td> </tr>
      <tr> <td>09:55</td>  <td><a href= "04-calc/">Calculating New Values</a></td> </tr>
      <tr> <td>10:05</td>  <td><a href= "05-null/">Missing Data</a></td> </tr>
      <tr> <td>10:35</td>  <td><a href= "06-agg/">Aggregation</a></td> </tr>
      <tr> <td>10:55</td>  <td><a href= "07-join/">Combining Data</a></td> </tr>
      <tr> <td>11:15</td>  <td><a href= "08-hygiene/">Data Hygiene</a></td> </tr>
      <tr> <td>11:30</td>  <td><a href= "09-create/">Creating and Modifying Data</a></td> </tr>
      <tr> <td>11:30</td>  <td><a href= "11-prog-R/">Programming with Databases - R</a></td> </tr>
      <tr> <td>11:50</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
      <tr> <td>After</td>  <td>Post-Workshop Survey</td> </tr>
    </table>
  </div>
</div>
